#content{
    position:relative;
    width:100%;
    top:75px;

    #first{
        height:900px;
        background: url(/images/header6.jfif) center center fixed;
        background-size:cover;
    }
}