#content{
    position:relative;
    width:100%;
    top:75px;

    #first{
        height:900px;
        background: url(/images/header.jpg) center center fixed;
        background-size:cover;

        h1{
            font:9em "Roboto Condensed", sans-serif;
            text-align:center;
            text-transform:uppercase;
            color:@headerbg;
    
            strong{
                font-weight:bold;
            }
        }
    }
}