#content{
    position:relative;
    width:100%;
    top:75px;
    line-height:1.5em;
    margin-bottom:175px;

    #first{
        height:900px;
        text-align:center;
        color:@headerbg;
        background:url(/images/header2.jpg) center center fixed;
        background-size:cover;
        

        h1{
            position:absolute;
            top:270px;
            width:100%;
            margin:0px auto;
            font:10em @font1, sans-serif;
            text-transform:uppercase;

    
            strong{
                font-weight:bold;
            }
        }

        #text{
            opacity:1;
            position:absolute;
            top:450px;
            width:800px;
            left:50%;
            margin-left:-400px;
            font:@font2, sans-serif;
            letter-spacing:1px;

            #learnmore{
                width:110px;
                margin:0px auto;
                margin-top:20px;
                padding:13px 20px;
                font:1em @font2;
                text-transform:capitalize;
                background-color:@accent;
                border-radius:7px;

        
                a{
                    text-decoration:none;
                    color:@headerbg;
                }

            }
        }
    }

    #second{
        width:1200px;
        margin:0px auto;
        margin-top:100px;

        #head{
            width:800px;
            margin:0px auto;

            h2, h3, h4{
                text-align:center;
                margin-top:15px;
            }
    
            h2{
                font: 1.6em @font2;
            }
    
            h3{
                font:bold 1.1em @font1;
                text-transform:uppercase;
                letter-spacing:2px;
            }
    
            h4{
                margin-bottom:50px;
                font:italic .9em @font2;
            }
        }
    
        .container{
            display:flex;
            justify-content:space-between;
            align-items:center;
            margin-bottom:50px;
            
            .box{
                margin-left:40px;
                font: .8em @font2;
                line-height:2.3em;

                .c_icon{
                    float:left;
                    margin-right:17px;
                    margin-top:6px;
                    font-size:2em;
                }

                .c_title{
                    font:bold 1.2em @font1;
                    text-transform:uppercase;
                    letter-spacing:1px;
                }

                .c_sub{
                    margin:5px 0px;
                    margin-bottom:8px;
                    font:italic 1em @font2;
                }
                
            }
        }

    }
}
