#newsletter{
    width:100%;
    box-sizing:border-box;
    padding:30px;
    letter-spacing:1px;
    color:@headerbg;
    background-color:@accent;

    #n{
        display:flex;
        justify-content:space-around;
        align-items:center;
        width:800px; 
        margin:0px auto;

        #f_text{
            h2{
                text-transform:uppercase;
                font:bold 1.8em @font1;
            }

            h3{
                opacity:.8;
                margin-top:5px;
                font: 0.8em @font2;
            }
        }
        
        #subscribe{
            margin-top:5px;
    
            a{
                padding:15px 20px;
                font-size:0.9em;
                font-weight:bold;
                text-transform:uppercase;
                text-decoration:none;
                border-radius:7px;
                color:@headerbg;
                background-color:@logobg;
    
            }
        }
    }
}

footer{
    background-color:@logobg;

    #main{
        width:70%;
        display:flex;
        justify-content:space-between;
        align-items:top;
        box-sizing:border-box;
        margin:0px auto;
        padding:50px 0px;
        font:.8em @font2;
        text-align:center;
        letter-spacing:1px;
        color:@headerbg;
        background-color:@logobg;

        h2{
            margin-bottom:20px;
            font:bold 1.7em @font2;
            letter-spacing:2px;

        }

        hr{
            margin-left:0px;
            margin-bottom:20px;
            width:25%;
            border:1px solid @accent;
        }

        #m_about, #m_navigation, #m_recent, #m_contact{
            text-align:left;
            width:350px;
            margin-left:25px;
            line-height:1.8em;
        }

        #m_about{
            a{
                display:block;
                margin-top:15px;
                color:@accent;
                text-decoration:none;
                .hover();
            }
    
            a:hover{
                color:@headerbg;
                .hover();
            }
        }

        #m_navigation{
            a{
                display:block;
                padding:15px 0px;
                color:rgba(255, 255, 255, 0.45);
                text-decoration:none;
                border-bottom:1px solid rgba(255, 255, 255, 0.1);
                .hover();

                .tri{
                    margin-right:5px;
                    .hover_all();
                }
            }

            a:first-of-type{
                padding-top:0px;
            }

            a:last-of-type{
                border-bottom:0px;
            }

            a:hover{
                color:@accent;
                .hover();
            }

            a:hover .tri{
                color:@accent;
                margin-right:15px;
                .hover_all();
            }

        }

        #m_recent{
            a{
                display:block;
                text-decoration:none;
                color:rgba(255, 255, 255, 0.2);
                .hover();
            }

            a:hover{
                color:rgba(255, 255, 255, 1);
                .hover();
            }

            .post:hover{
                color:@accent;
                .hover();
            }

            .post:hover a{
                color:white;
            }

            .post{
                display:block;
                padding:15px 0px;
                color:rgba(255, 255, 255, 0.45);
                border-bottom:1px solid rgba(255, 255, 255, 0.1);
                .hover();
            }

            .post:first-of-type{
                padding-top:0px;
            }

            .post:last-of-type{
                border-bottom:0px;
            }

        }

        #m_contact{
            color:rgba(255, 255, 255, 0.25);

            h2{
                color:white;
            }

            .line{
                padding:15px 0px;
                color:rgba(255, 255, 255, 0.6);
                border-bottom:1px solid rgba(255, 255, 255, 0.1);

                .f_icon{
                    display:inline-block;
                    margin-right:10px;
                    font-size:1.2em;
                    color:rgba(255, 255, 255, 0.25);
                }
            }

            .line:first-of-type{
                margin-top:5px;
            }

            .line:last-of-type{
                border:0px;
            }

            a{
                color:@accent;
                text-decoration:none;
                .hover();
            }

            a:hover{
                color:white;
                .hover();
            }

        }

    }

    #bottom{
        display:flex;
        justify-content:space-around;
        align-items:center;
        padding:8px 0px;
        font:.8em @font2;
        color:@headerbg;
        background-color:#121212;

        img{
            opacity:.3;
            width:50px;
        }

        #copyright{
            margin-left:-25px;
            color:rgba(255, 255, 255, 0.3);
        }

        #f_links{
            margin-right:-80px;

            a{
                margin:0px 5px;
                text-decoration: none;
                color:rgba(255, 255, 255, 0.7);
                .hover();
            }
    
            a:hover{
                color:rgba(255, 255, 255, 0.9);
                .hover();
            }
        }
    }
}