#newsletter{
    width:100%;
    box-sizing:border-box;
    padding:30px;
    letter-spacing:1px;
    color:@headerbg;
    background-color:@accent;

    #n{
        display:flex;
        justify-content:space-around;
        align-items:center;
        width:800px; 
        margin:0px auto;

        #f_text{
            h2{
                text-transform:uppercase;
                font:bold 1.8em @font1;
            }

            h3{
                opacity:.8;
                margin-top:5px;
                font: 0.8em @font2;
            }
        }
        
        #subscribe{
            margin-top:5px;
    
            a{
                padding:15px 20px;
                font-size:0.9em;
                font-weight:bold;
                text-transform:uppercase;
                text-decoration:none;
                border-radius:7px;
                color:@headerbg;
                background-color:@logobg;
    
            }
        }
    }
}

footer{
    background-color:@logobg;

    #main{
        width:60%;
        display:flex;
        justify-content:space-around;
        align-items:center;
        box-sizing:border-box;
        margin:0px auto;
        padding:50px 0px;
        font:.8em @font2;
        text-align:center;
        letter-spacing:1px;
        color:@headerbg;
        background-color:@logobg;

        h2{
            padding-bottom:15px;
            font:bold 1.7em @font2;
            letter-spacing:2px;
            border-bottom:3px solid @accent;
        }

        #m_about, #m_navigation, #m_recent, #m_content{
            text-align:left;
            width:350px;
            margin-right:25px;
        }

        #m_about{

            h1{
                opacity:.35;
                margin-bottom:10px;
                font:3em @font1;
                letter-spacing:3px;
                text-transform:uppercase;

                strong{
                    font-weight:bold;
                }
            }
    
            a{
                display:block;
                margin-top:17px;
                color:@accent;
                text-decoration:none;
                .hover();
            }
    
            a:hover{
                color:@headerbg;
                .hover();
            }
        }

        #m_navigation{
            a{
                display:block;
                padding:10px 0px;
                color:rgba(255, 255, 255, 0.45);
                text-decoration:none;
                border-bottom:1px solid rgba(255, 255, 255, 0.1);
                .hover();

                .tri{
                    margin-right:5px;
                    .hover_all();
                }
            }

            a:hover{
                color:@accent;
                .hover();
            }

            a:hover .tri{
                color:@accent;
                margin-right:15px;
                .hover_all();
            }

        }

        #m_recent{

        }

        #m_contact{

        }

    }

    #bottom{
        display:flex;
        justify-content:space-around;
        align-items:center;
        width:100%;
        padding:17px 0px;
        font:.8em @font2;
        color:@headerbg;
        background-color:black;

        #copyright{
            color:rgba(255, 255, 255, 0.45);
        }

        a{
            margin:0px 5px;
            text-decoration: none;
            color:rgba(255, 255, 255, 0.7);
            .hover();
        }

        a:hover{
            color:rgba(255, 255, 255, 0.9);
            .hover();
        }
    }
}