// HEADER
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:75px;
    position:fixed;
    background-color:@headerbg;
    border-bottom:1px solid black;

    #logo{
        width:75px;
        height:75px;
        background-color:@logobg;

        img{
            width:75px;
            height:75px;
        }
    }

    h2{
        font:40px "Roboto Condensed", sans-serif;
        text-transform:uppercase;

        strong{
            font-weight:bold;
        }
    }

    #search{

        form{
            display:flex;
            align-items:center;

            input[type=text] {
                width:300px;
                padding:10px;
                border:none;
                background-color:@searchbg;
                border-radius:5px 0px 0px 5px;
            }
    
            button{
                cursor:pointer;
                padding:10px 13px;
                color:@accent;
                background-color:@searchbg;
                border:0px;
                border-left: 1px solid @searchborder;
                border-radius:0px 5px 5px 0px;
            }
    
            button:hover{
                color:@accent;
            }
        }
    }


    #h_links{
        width:570px;

        a{
            margin: 0px 10px;
            padding: 0px 25px 27px 25px;
            color:@h_links;
            text-decoration:none;
        }

        a:hover{
            color:@h_linkshover;
            border-bottom:2px solid @accent;
        }
    }

    #join{
        display:flex;
        justify-content:space-between;
        align-items:center;

        #register, #login{
            padding: 10px 20px;
            border-radius:7px;
            letter-spacing:1px;
        }
    
        #login{
            margin-right:15px;
            border:1px solid @h_links;
    
            a{
                color:@h_linkshover;
                text-decoration:none;
            }
        }
    
        #register{
            background-color:@accent;
            margin-right:100px;
    
            a{
                color:@headerbg;
                text-decoration:none;
            }
        }
    }
    
}


